.main {
    grid-area: "main";
    background-image: linear-gradient(to bottom, #e9e7e3, #ebe8d7, #e8eacc, #e0eec4, #d2f2bf, #d2f4c1, #d1f5c4, #d1f7c6, #e0f7ce, #ecf7d8, #f4f8e4, #f9f9f2);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    min-height: 100%;
    display: block;
}