.caja-contenido-empresa {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.h1-empresa {
    font-family: "Xanh Mono", monospace;
    font-size: 80px;
    color: $colordefuente;
    text-align: center;
    margin-top: 50px;
}

.p-empresa {
    font-family: "Poppins", sans-serif;
    font-size: 25px;
    color: $colordefuente;
    text-align: center;
    height: 500px;
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
}
  
  .imagen-empresa {
    width: 550px;
    height: 380px;
    border-radius: 15%;
    -webkit-animation: kenburns-left 5s ease-out both;
    animation: kenburns-left 5s ease-out both;
}
  
  @-webkit-keyframes kenburns-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
      transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 50%;
      transform-origin: 16% 50%;
    }
  
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
      transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
}
  
  @keyframes kenburns-left {
    0% {
      -webkit-transform: scale(1) translate(0, 0);
      transform: scale(1) translate(0, 0);
      -webkit-transform-origin: 16% 50%;
      transform-origin: 16% 50%;
    }
  
    100% {
      -webkit-transform: scale(1.25) translate(-20px, 15px);
      transform: scale(1.25) translate(-20px, 15px);
      -webkit-transform-origin: left;
      transform-origin: left;
    }
}
